@import url('ts.googleapis.com/css?family=Quicksand|Open Sans|Roboto& display=swaphttps://fon');

html {
    font-family: sans-serif, 'Times New Roman';
    margin-left: 300px;
    margin-right: 300px;
    background-color: goldenrod;
}

body {
    background-color: whitesmoke;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    background-color: brown;
    color: rgb(237, 187, 94);
     text-align: center; 
    box-shadow: 3px 3px 7px black;
    height: 50px;
    position:relative;
    top: 30px;
    font-size: xx-large;
}

#Progress {
    position: relative;
    left: 17%;
}

#Étlap {
    position: relative;
    left: 40%;
}


#Akciók {
    position:relative;
    left: 61%;
}


h1 {
    font-weight: bold;
    color: brown;
    margin-left: 2%;
    position: relative;
    top: 20px;
    font-size: xxx-large;
}

h2 {
    color: brown;
    font-weight: bold;
    position: relative;
    top: 10px;
    display:inline-block;
    margin-left: 1%;
    font-size: xx-large;
}

p {
    font-size: xx-large;
    font-family: 'Quicksand';
    margin-left: 1%;
    margin-top: 2%;
}

.kerdmenuben {
    background-color:rgb(237, 187, 94);
    box-shadow: 5px 5px 10px black;
    margin: 2%;
    margin-bottom: 50px;
    margin-top: 60px;
}

.elso {
    display:flex;
}

#kérdmenüben {
    width: 16%;
    position: relative;
    bottom: 40px;
    right: 30px;
}


.gyereknap {
    background-color:rgb(237, 187, 94);
    box-shadow: 5px 5px 10px black;
    margin: 2%;
    margin-bottom: 50px;
    margin-top: 60px;
}

.masodik {
    display:flex;
}

#gyereknapi {
    width: 15%;
    position: relative;
    bottom: 40px;
    right: 30px;
}

.Hetiakció {
    background-color:rgb(237, 187, 94);
    box-shadow: 5px 5px 10px black;
    margin: 2%;
    margin-top: 60px;
}

.harmadik {
    display:flex;
}

#Heti {
    width: 16%;
    position: relative;
    left: 43%;
    bottom: 40px;
}

footer {
    color: whitesmoke;
    display: flex;
}