@import url('ts.googleapis.com/css?family=Quicksand|Open Sans|Roboto& display=swaphttps://fon');

html {
    font-family: sans-serif, 'Times New Roman';
    margin-left: 10%;
    margin-right: 10%;
    background-color: goldenrod;

}

body {
    background-color: whitesmoke;
    margin-top: 0%;
    margin-bottom: 0%;
}

.linkek {
    display: flex;
}

a {
    background-color: brown;
    color: rgb(237, 187, 94);
    text-align: center;
    box-shadow: 3px 3px 7px black;
    margin-left: 2%;
    margin-right: 2%;
    font-size: xx-large;
    width: 30%;
    margin-top: 1%;
}

h1 {
    font-weight: bold;
    color: brown;
    margin-left: 2%;
    font-size: xxx-large;
}

h2 {
    color: brown;
    font-weight: bold;
    display: inline-block;
    margin-left: 1%;
    font-size: xx-large;
}

p {
    font-size: xx-large;
    font-family: 'Quicksand';
    margin-left: 1%;
    margin-top: 2%;
}

.kerdmenuben {
    background-color: rgb(237, 187, 94);
    box-shadow: 5px 5px 10px black;
    margin: 2%;
    margin-bottom: 1%;
    margin-top: 1.2%;
}

.elso {
    display: flex;
}

#kérdmenüben {
    width: 16%;
    position: relative;
    bottom: 40px;
    right: 30px;
}


.gyereknap {
    background-color: rgb(237, 187, 94);
    box-shadow: 5px 5px 10px black;
    margin: 2%;
    margin-top: 3%;
}

.masodik {
    display: flex;
}

#gyereknapi {
    width: 15%;
    position: relative;
    bottom: 40px;
    right: 1.5%;
}

.Hetiakció {
    background-color: rgb(237, 187, 94);
    box-shadow: 5px 5px 10px black;
    margin: 2%;
    margin-top: 3%;
}

.harmadik {
    display: flex;
}

#Heti {
    width: 20%;
    position: relative;
    bottom: 45px;
    margin-right: 1.5%;
}

footer {
    color: whitesmoke;
    display: flex;
    margin-bottom: 0%;
}

#ureshely {
    visibility: hidden;
}