@import url('ts.googleapis.com/css?family=Quicksand|Open Sans|Roboto& display=swaphttps://fon');

html {
    font-family: sans-serif, 'Times New Roman';
    margin-left: 10%;
    margin-right: 10%;
    background-color: goldenrod;
}

body {
    background-color: whitesmoke;
    margin-top: 0%;
    margin-bottom: 0%;
}

a {
    background-color: brown;
    color: rgb(237, 187, 94);
    text-align: center;
    box-shadow: 3px 3px 7px black;
    margin-left: 2%;
    margin-right: 2%;
    font-size: xx-large;
    width: 30%;
    margin-top: 1%;
}

.linkek {
    display: flex;
}

h1 {
    font-weight: bold;
    color: brown;
    margin-left: 2%;
    font-size: xxx-large;
}

thead {
    color: green;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    display: flex;
}

#Szendvicsek {
    position: relative;
    left: 450%;
}


#Köretek {
    position: relative;
    left: 710%;
}

#Italok {
    position: relative;
    left: 950%;
}

tbody{

    font-size: x-large;
    font-family: 'Quicksand', 'Times New Roman';
}

#tbody1 {
    background-color: aqua;
}
#tbody2 {
    background-color: aqua;
}
#tbody3 {
    background-color: aqua;
}

.árak {
    position: relative;
    left: 210%;
}

img{
    width: 4%;
}


footer {
    color: whitesmoke;
    display: flex;
}


