@import url('ts.googleapis.com/css?family=Quicksand|Open Sans|Roboto& display=swaphttps://fon');

html{
    font-family: 'Roboto', sans-serif;
}
h1{
    color: brown;
    font-family: 'Open Sans', 'Times New Roman';        
}

thead{
    color: rgb(12, 210, 12);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

tbody{

    font-family: 'Quicksand', 'Times New Roman';
}