@import url('ts.googleapis.com/css?family=Quicksand|Open Sans|Roboto& display=swaphttps://fon');

html {
    font-family: sans-serif, 'Times New Roman';
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(237, 187, 94);
}

body {
    background-color: whitesmoke;
    margin-top: 0vmin;
    margin-bottom: 0%;
}

.linkek {
    display: flex;
    justify-content: space-evenly;
}

a {
    background-color: brown;
    color: rgb(237, 187, 94);
    text-align: center;
    box-shadow: 3px 3px 7px black;
    font-size: xx-large;
    width: 22%;
    margin-top: 1%;
}

a:hover {
    background-color: rgb(237, 187, 94);
    color: brown;
}

h1 {
    color:brown;
    margin-top: 4vmin;
    margin-left: 3vmin;
}

h2 {
    color: brown;
    margin-top: 3vmin;
    margin-left: 3vmin;
    font-size: xx-large;
}

.muszaj {
    font-size: x-large;
    margin-left: 3vmin;
}

ul {
    font-size: x-large;
    margin-left: 3vmin;
}

p {
    font-size: x-large;
    margin-left: 3vmin;
}

img {
    width: 70vmin;
    height: 50vmin;
    margin-bottom: 5vmin;
    margin-left: 3vmin;
    margin-right: 2.3em;
    position: relative;
    top: 2vmin;
}
