@import url('ts.googleapis.com/css?family=Quicksand|Open Sans|Roboto& display=swaphttps://fon');

html {
    font-family: sans-serif, 'Times New Roman';
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(237, 187, 94);
}

body {
    background-color: whitesmoke;
    margin-top: 0%;
    margin-bottom: 0%;
}

.linkek {
    display: flex;
    justify-content: space-evenly;
}

a {
    color: rgb(237, 187, 94);
    background-color: brown;
    text-align: center;
    box-shadow: 3px 3px 7px black;
    font-size: xx-large;
    width: 20%;
    margin-top: 1%;
    margin-bottom: 3%;
}

a:hover {
    background-color: rgb(237, 187, 94);
    color: brown;
}


.form-label {
    margin-top: 1.2em;
    font-size: x-large;
}

.form-topping {
    margin-top: 0.5em;
    font-size: xx-large;
}

.price {
    font-size: x-large;
}

button {

    margin: 1em;
}

footer {
    background-color: whitesmoke;
    display: flex;
    margin-top: 2em;
}

.name {
    font-size: x-large;
}

#message {
    color: green;
    font-size: larger;
    font-weight: 500;
}

#hazhozszallitas {
    font-size: x-large;
    color: green;
    text-align: center;
    margin-top: 1em;
}