.Weather {
    font-size: xx-large;
    background-color: brown;
    color: rgb(237, 187, 94);
    margin: 3vmin;
    margin-bottom: 4%;
    margin-top: 0%;
    box-shadow: 3px 3px 7px black;
    position: relative;
    top: 1em;
}

#day {
    width: 11em;
    margin-left: 1.2em;
    margin-top: 2em;
    height: 3em;
    text-align: start;
}

.btn{
    width: 10em;
    height: 3em;
    background-color: rgb(237, 187, 94);
}

.napokGomb{
    display:flex;
}

.elsosor{
    display: flex;
    justify-content: space-between;
}

#idojaras{
    margin: 0.5em;
}

#temperature{
    margin: 0.5em;
}